:root {
  --default-border-color: #c5c5c5;
  --font-size-title: 25px;
  --default-border-radius: 4px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

main {
    padding: 24px;
}