.container {}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: -2px -2px 20px #ccc;
    padding: 32px;
}

.nav {
    display: flex;
    column-gap: 24px;
}

.link {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}
.container :global(.active),
.link:hover {
    color: #954d4d;
    transition: .3s;
}